body{
    margin: 0;
    padding: 0;
}
header {
    background-image: url(../imagens/project-1.png);
    background-repeat: no-repeat;/*para não repetir a foto de fundo*/
    background-size: cover;/*para pegar o fundo inteiro*/
    background-position: center;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}
    nav {
        background-color: black;
        min-width: 1200px;
        max-width: 1400px;
        height: 125px;
        margin: 0 auto 0 auto;
    }
    nav #logo {
        margin: 23px;
        float:left;
    }

    nav #logo img {
        height: 75px;
    }
    nav ul {
        display:flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        color:white;
        font-size: 20px;
        font-family: Montserrat, sans-serif;
        list-style: none;
    }
    nav ul li a {
        padding: 25px 20px 25px 0;
        float: left;
    }
    nav menu{
        float: right;
    } 
    #menu li span {
        font-family: Montserrat,sans-serif;
        font-size: 11px;
        color: rgb(94, 94, 94);
        margin-right: 3px;
        margin-top: 6px;
        float: left;
    }
    #menu li a{
        color:white;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 1s;

    }
    #menu li a:hover{
        color: #e7a920;
        transition: 1s;
        text-decoration: line-through;

    }
    .regua{
        background-image: url(../imagens/divider-dark.png);
        background-repeat: repeat-x;
        padding-top: 100px;
    }
   .icons{
       height: 120px;
       width: 345px;
       margin: 0 auto;
       display: flex;
       flex-direction: row;
   }
   .icons .icon img/* o espaço entre o icons e o icon indica q um esta dentro do outro. se estivessem junto, indicaria q eles são o mesmo*/{
       width:115px;
   }
   .txt{
       height: 100px;
       width: 100%;
       width: 850px;
       margin: 0 auto;
   }
   .txt h6{
    font-size: 20px;
    font-weight: 300;
    width: 80%;
    display:inline-block;
    line-height: 40px;
    font-family: Montserrat,sans-serif;/*mudar a fonte*/
    text-align: center;
    margin: 0;
    margin-left: 95px;
    margin-top: 40px;
   }
   .header{
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
   }
   .trabalhos{
    margin-top: 110px;
   }
   .trabalhos .header h4 span{
    color: #e7a920;
    text-transform: uppercase;
    letter-spacing: 11px;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.trabalhos .header h4 b{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    text-transform: uppercase;
    color: #000;
}
.trabalhos .header p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(88, 88, 88);
    margin: 12px 0 0 0;
}
.trabalhos .mosaico {
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
}
.trabalhos .mosaico .item{
    height: 470px;
    width: 570px;
    background-image: url(../imagens/project-1.png);
    background-size: contain;
    background-position: center;
}
.trabalhos .mosaico .item:hover{
    background-size: 110%;
    background-position: center;
    
}
    /*-------------------------------------trabalhos-----------------------------------------*/
    #trabalho {
        background-color: blue;
    }
    